<h2>Movie Detail</h2>
<p>Movie Title: <%= @movie.name %></p>
<p>Year Released: <%= @movie.year %></p>

<img class="line_icons" src="https://cdn3.iconfinder.com/data/icons/edition/100/pen_paper_2-512.png" height=15 width=15> <a href="/movies/<%= @movie.id %>/edit">Edit Details</a>

<br><br>
<a href="/movies">Return to Main</a>
