<div class="container-fluid">
  <div class="row">
    <h2>Category Detail</h2>
    <p>Name: <%= @category.name %></p>
    <span class="glyphicon glyphicon-pencil"></span><a href="/categories/<%= @category.id %>/edit">Edit</a>
    <span class="glyphicon glyphicon-remove-circle"></span><a href="/categories/<%= @category.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
  </div>

  <br>

  <div class="row">
    <a href="/categories"><button class="btn btn-primary">Category Menu</button</a>
  </div>

</div>
