<div class="container-fluid">
  <div class="row">
    <h2>Category Detail</h2>
    <p>Name: <%= @category.name %></p>
    <img class="line_icons" src="https://cdn3.iconfinder.com/data/icons/edition/100/pen_paper_2-512.png" height=15 width=15> <a href="/categories/<%= @category.id %>/edit">Edit Details</a>
  </div>

  <br>

  <div class="row">
    <a href="/categories"><button class="btn btn-primary">Category Menu</button</a>
  </div>

</div>
